<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/propper/popper.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include ../Layout/NavbarAdmin %>
        <div class="text-center" style="margin-bottom: 5%;">
            <table class="table">
                <thead style="font-size: 22px;">
                    <tr>
                        <th scope="col">หมายเลขออเดอร์</th>
                        <th scope="col">หลักฐานการโอน</th>
                        <th scope="col">เลขพัสดุ</th>
                        <th scope="col">สถานะการส่ง</th>
                    </tr>
                </thead>
                <tbody style="font-size: 20px;">
                    <tr>
                        <th scope="row"><a href="/admin/status/detail/OR1">Order No.</a></th>
                        <td><img style="width: 150px;" src="/images/slipEx.jpg"></td>
                        <td>Track No.</td>
                        <td>Status</td>
                    </tr>
                    <tr>
                        <th scope="row"><a href="">Order No.</a></th>
                        <td><img style="width: 150px;" src="/images/slipEx.jpg"></td>
                        <td>Track No.</td>
                        <td>Status</td>
                    </tr>
                    <tr>
                        <th scope="row"><a href="">Order No.</a></th>
                        <td><img style="width: 150px;" src="/images/slipEx.jpg"></td>
                        <td>Track No.</td>
                        <td>Status</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <%- include ../Layout/Footer %>
</body>

</html>