<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/propper/popper.min.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>

<body>
    <%- include layout/NavBar %>
        <h1 class="text-center" style="margin-top: 2%; margin-bottom: 2%;">ตะกร้าสินค้า</h1>
        <table class="table">
            <thead style="font-size: 22px;">
                <tr>
                    <th scope="col" style="padding-left: 2%;">ลำดับ</th>
                    <th scope="col">รูปสินค้า</th>
                    <th scope="col">รายละเอียดสินค้า</th>
                    <th scope="col">ราคา</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody style="font-size: 20px;">
                <tr>
                    <th scope="row" style="padding-left: 2%;">1</th>
                    <td><img style="width: 150px;" src="/images/shoe_home.png"></td>
                    <td>
                        <p>ชื่อสินค้า: รองเท้าผู้ชาย</p>
                        <p>ไซส์: 40</p>
                    </td>
                    <td>
                        <p>ราคารองเท้า: 4000 บาท</p>
                        <p>ราคาหนัง 2 ส่วน: 800 บาท</p>
                        <p>ราคาสีผ้าใบ 10 ส่วน: 1500 บาท</p>
                    </td>
                    <td><button class="btn btn-danger" type="button">ลบ</button></td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-9"></div>
            <div class="col-3">
                <p style="font-size: 25px;">รวมทั้งหมด: 6300 บาท</p>
            </div>
        </div>

        <div class="text-center">
            <button class="btn" type="button" onclick="location.href = '/user/checkout'"
                style="margin-top: 2%; background-color: darkgray; font-size: 25px; border-radius: 30px; color: white; padding: 0.3% 5%;">เช็คเอ้าท์</button>
        </div>

        <%- include Layout/Footer %>
</body>

</html>