<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <script>
        console.log("hello");
        let msg = '<%- success %>';
        let path = '<%- path %>';
        if (path.indexOf(" ") >= 0) {
            let pathTemp = path.split(" ");
            path = pathTemp[0] + '/' + pathTemp[1]
        }
        if (msg != '') {
            if (!alert(msg)) { window.location.href = "/" + path }
        }
    </script>
</body>

</html>