#tongue2 {
    margin-left: -12px;
    width: 600px;
    height: 598px;
}

/* .space {
    height: 200px;
} */

.img {
    /* background-position: 100%; */
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 8.65%;
    width: 600px;
    height: 598px;
    /* background-image: url('/images/vegetable.jpg'); */
    /* background-position: -8px 8px; */
    background-blend-mode: soft-light;
    /* background-color: #1c1c1c; */
    fill: #DBED64;
    margin-bottom: 1rem;
}

.butt1 {
    /* position: fixed; */
    /* bottom: 4em;
    right: 4em;
    z-index: 3;
    padding: 1em; */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.text {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.leatherColor {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
}

.leatherColor:hover {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

#black_leather {
    background-color: #000000;
}

#chocolate_leather {
    background-color: #3F2C25;
}

#darkbrown_leather {
    background-color: #572D1D;
}

#brown_leather {
    background-color: #B16217;
}

#lightbrown_leather {
    background-color: #D79443;
}